.cardList {
  .card {
    border-bottom: 1px solid #f0f2f7;
    padding: 20px;
    background: #fff;
  }
  .card-title {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
  }
  .richContent-inner {
    margin-top: 9px;
    margin-bottom: -4px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      color: #646464;
      .readAll {
        color: #646464;
      }
    }
    .readAll {
      padding: 0;
      margin-left: 4px;
      color: #175199;
      border:none;
      background-color: transparent;
    }
    .arrow-down {
      vertical-align: middle;
    }
  }
  .richContent-action {
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
  }
}